modules = ["nodejs-20", "web", "postgresql-16", "python-3.11"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["openssl"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]
publicDir = "dist/public"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[workflows.workflow.metadata]
outputType = "console"

[userenv]

[userenv.shared]
BOT_TOKEN = "8667938211:AAF16V8uJMfid4-bkqJ5m_kdh0wEgkJqILw"
API_ID = "27241542"
API_HASH = "d0c6054dd3b39e977d6c0969fa9bfae1"
TELEGRAM_SESSION = "1BJWap1sBu3SAfxOgL6yc_wzLaqT7dtJy3ox7DEBlkRupXiBh5KI2BQSQU4PXgETVAjuunsmPN8sHpCQ5j3KUhNa-uFStMnZBGuCwPswJAZmH4nDZmCq07VrVabsQA2vL2Ut07F9Qc5613nWq11dr0-mBx-ge7l7viNCVdJqBoUHGvt0jujj5riyDgt256v_F7rImTYXwkmhqin0yH1rW1FIMpZKe1j5wHoO5yng6W7zvmJok8r3HWsad9l60Cm7IlcplhX-KIwWAGumldGJelJbKJaMEz-gOaVYeZrzJV_5d66Jtz8iQzSkIddZ4sxaCuIR6x3TLOLtGE-du1cCTxNTehixJnVA="
