modules = ["nodejs-20", "web", "postgresql-16", "python-3.11"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["openssl"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]
publicDir = "dist/public"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[workflows.workflow.metadata]
outputType = "console"

[userenv]

[userenv.shared]
BOT_TOKEN = "8530301832:AAHEpfV28fUg-BAhSlP0Q7cdxgoUjMrfKXs"
API_ID = "30746477"
API_HASH = "eeb45b31e8259546c765c35bbc44c596"
TELEGRAM_SESSION = "1BJWap1sBu3BOu8DIM6IjTgwHsbT8t-Cw9UmOctObeOf6YPTsceFR5VtkiC-NksC1g7EJAK4JcyNyhUYMxqLO79US5HNiEkQLbMsiuuXWur1hRLeEAgEat9iB6_5zOpXPqytUR41QS-pVRrPUBFViOOXxC42P-uBfagJMaAV5KBj74fvCpbOYP8Okz3TT3syFwp_k5lRkTE0KjypgWyJ2-VUY6G9MBRT0gtK7xlZXRRzA8ULt4MRRkvw18aTdaosu8O0YYbf6_07GAeTYgy5uJvAL_MI6AWNnRH9qB8QYh4b7CnGlqBh5NRW3JZ-mZR-h7SlC0c6i05M69hTiUcyjE0EHqgo935s="
